<nav>
  <h1>Hi.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/{{ site.data.theme.logo }}" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>Scala & Machine Learning consultant. Interested in Category Theory, Type-level programming and Deep Learning. I occasionally write here about what I do.</p>
    <p>If you are interested in my services, you can contact me via the following e-mail: anatoliykmetyuk at gmail dot com.</p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
